aiodns==2.0.0
aiohttp==3.6.2
astroid==2.4.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.1.0
autopep8==1.5.4
backcall==0.2.0
cffi==1.14.3
chardet==3.0.4
colorama==0.4.3
decorator==4.4.2
dnspython==2.0.0
idna==2.10
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.5.1
jedi==0.17.2
jupyter-client==6.1.7